*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body{
    background: #F4F7FF;
}

/*Navigation Design*/
.navBar{
    height: 100px;
    width: 100%;

}
.containerWidth{
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}


.logoBox h1{
    font-size: 34px;
    font-family: poppins;
    color: #4E47FF;
}

.btnBox button{
    padding: 10px 25px 10px 25px;
    border: none;
    outline: none;
    background: #4E47FF;
    color: white;
    font-family: poppins;
    font-weight: 400;
    border-radius: 10px;
    font-size: 13px;
}
/* END */













/*Banner Design*/
.bannerSection{
    height: 100vh;
    background: url("Assets/Hero-bg.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerWidth{
    width: 1360px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText{
    font-size: 60px;
    font-family: poppins;
    text-align: center;
}

.heroBtnBox{
    margin-top: 20px;
}

/* END */
















/* Action Section design */

.actionSection{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.actionSectionWidth{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textBox h1{
    font-size: 28px;
    margin-bottom: 10px;
}
.textBox p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.textBox button{
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 10px;
    background: #4E47FF;
    color: white;
    font-size: 13x;
}


.imgBox img{
    border-radius: 40px;
}

/* END */











/*Producttive Section */

.productiveUserSection{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pusWidth{
    height: 350px;
    width: 1360px;
    background: rgb(211, 211, 251);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 50px 20px;
}
.numBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 30px;
}
.pusWidth h1{
    font-size: 80px;
    color: #4E47FF;
}
.pusWidth h2{
    font-size: 45px;
}
.numBox p{
    text-align: center;
    margin-top: -20px;
}
/* END*/






/*Review Section*/

.reviewSection{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rHeading{
    font-size: 45px;
}

.rsWidth{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    margin-top: 50px;
}

.rsWidth img{
    height: 500px;
    width: 1360px;
}

.starIcons img{
    height: 15px;
    width: 15px;
}

.rBoxOne,
.rBoxTwo,
.rBoxThree{
    background: white;
    height: 150px;
    width: 500px;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
}



.textBox{
    margin-top: 20px;
}


.imgTxt{
    display: flex;
    justify-content: flex-start;
}

.imgTxt img{
        height: 30px;
        width: 30px;
        border-radius: 30px;
        border: 1px solid #4E47FF;
}

.color{
    color: rgb(174, 171, 171);
    font-weight: 400;
}

.rName{
    margin-left: 10px;
     color: rgb(174, 171, 171);
     font-weight: 500;
}